body {
    font-family: "Rubik";
    padding-top: 10px;
    padding-bottom: 20px;
}

h1 {
    font-family: "Rubik", cursive;
    color: #228B22;
}

.site-footer {
    background-color: #fff;
    padding: 10px 0;
    width: 100vw;
}

.jumbotron {
    margin: 0px;
    padding: 30px;
     
}

.jumbotron img{
    width: 200px;
    height: auto;
}

.row-content {
    padding: 50px 0; 
    border-bottom: 1px ridge;
    min-height: 200px;

}

.fa {
    color: #228B22;
}

.navbar {
    margin-bottom: 20px;
    background-color: #fff;
  }

.navbar .navbar-nav .nav-link:hover {
    color: #228B22;
  }