body {
    font-family: "Rubik";
    padding-top: 10px;
    padding-bottom: 20px;
}

h1 {
    font-family: "Rubik";
    color: #228B22;
    font-size: 3em
}

h3 {
  font-family: "Rubik";
  color: #000;
  font-size: 1.5em
}

.site-footer .fa {
  color: #000;
}

.site-footer {
    background-color: transparent;
    padding: 50px 0;
    width: 100vw;
}


.jumbotron {
    margin: 0px;
    padding: 30px;
     
}

.jumbotron img{
    width: 200px;
    height: auto;
}

.row-content {
    padding: 50px 0; 
    border-bottom: 1px ridge;
    min-height: 200px;

}

.navbar {
    margin-bottom: 20px;
    background-color: #fff;
  }

.navbar .navbar-nav .nav-link:hover {
    color: #228B22;
  }

.navbar .fa {
    color: #228B22;
  }

.myaccordion {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }

.myaccordion .btn .bean {
    width: 100%;
    font-size: 16px;
    color: #004987;
    padding: 0;
  }
  
.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    color: #004987;
    padding: 0;
  }

.img-home{
    box-shadow:
  0.8px 0.6px 0.6px rgba(0, 0, 0, 0.076),
  1.7px 1.4px 1.4px rgba(0, 0, 0, 0.112),
  2.8px 2.3px 2.3px rgba(0, 0, 0, 0.138),
  4.3px 3.5px 3.5px rgba(0, 0, 0, 0.16),
  6.1px 5px 5px rgba(0, 0, 0, 0.18),
  8.7px 7.1px 7.1px rgba(0, 0, 0, 0.2),
  12.3px 10.1px 10.1px rgba(0, 0, 0, 0.222),
  17.9px 14.6px 14.6px rgba(0, 0, 0, 0.248),
  27.6px 22.5px 22.5px rgba(0, 0, 0, 0.284),
  49px 40px 40px rgba(0, 0, 0, 0.36);


}

.hrmodal {
  border: 0;
  height: 3px;
  background: #228B22;
  background-image: linear-gradient(to right, #ccc, #228B22, #ccc);
  size: 10;
}

